%% -*- mode: erlang -*-
%% ex: ft=erlang
{erl_opts, [debug_info]}.

{plugins,  [rebar_vsn_rel_plugin, rebar_lock_deps_plugin]}.
{sub_dirs, ["rel"]}.

{deps,
 [
  {rebar_lock_deps_plugin, ".*",    {git, "git://github.com/seth/rebar_lock_deps_plugin.git",      {tag, "3.0.0"}}},
  {gproc,                  "0.2.*", {git, "git://github.com/uwiger/gproc.git", {tag, "0.2.17"}}}
 ]}.
